                                                                                        Alem Fitwi

## <div class="alert alert-info"> Packages

In [11]:
# Standard/Built-in Modules
#---------------------------------------------------
import os
import re
import gc
import sys
import math
import warnings
from time import perf_counter as pc
warnings.filterwarnings('ignore')
from concurrent.futures import ThreadPoolExecutor as tpe
from concurrent.futures import ProcessPoolExecutor as ppe

# Third-party Modules
#---------------------------------------------------
# DIP
import cv2
import scipy
import scipy.fft
import numpy as np
import pandas as pd
from PIL import Image
from scipy import ndimage
from IPython.display import Image as dimg
from scipy.fftpack import dct, idct # dct(x, type=2)
from skimage.measure import block_reduce
from scipy.ndimage import map_coordinates
from skimage.filters import threshold_otsu
from skimage.filters import threshold_multiotsu

# Data
import sqlite3
import pandas as pd
from glob import glob

# Plotting
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import patches
from matplotlib.pyplot import figure, imshow, axis


# User Defined
#---------------------------------------------------


# Global Vars
#---------------------------------------------------

## <div class="alert alert-danger"> SQL Introduction

In [45]:
#!pip install dash_daq

In [47]:
#Files, I/O, regular expressions and OS
import os
import io
import re
import sys
import glob
import shutil

#*************************************
# Data Structures
import numpy as np
import pandas as pd
#*************************************
# Database
import base64
import sqlite3
from sqlalchemy import create_engine
from IPython.display import Image

#*************************************
# Time and Dates
import time
from time import perf_counter as pc
from datetime import date,timedelta
from datetime import datetime as dtt

#*************************************
# Dash and Dash Components
import dash
import dash_auth
import dash_daq as daq
import dash_table as dt
import plotly.graph_objs as go
import dash_core_components as dcc
import dash_html_components as html
from plotly.subplots import make_subplots
from dash.dependencies import Input, Output, State

#*************************************
# Otherss
import uuid
import flask
import socket
import random
import urllib
import getpass
import warnings
import platform
#import netifaces
from math import ceil, floor
warnings.simplefilter("ignore")

#*************************************
# Paths and user defined Packages
from sys import path

- **Database(DB)**: An organized collection of data so that it can be easily accessed.
  - PC $\rightarrow$ DBMS $\rightarrow$ Database
  - SQL stands for Structured Query Language

- **Types of DBs**: In a broad sense, they are of two types
  - **Relational DB**: Data is stored in organized table format containing fields/observations/attributes/columns and records/tuple/rows
    - **Row/Record/Tuple**: a collection of data that's organized into fields within a table. A single (row of) data item in a database table.
    - **Column/Field/Observation/Attribute**:
    - Example: MySQL, Oracle, ...

                    RollNumber         Name                 Class
                        1              AHF                   23
                        2              FMG                   13
                        3              BAH                   2
                        4              EAH                   1

  - **NonRelational DB**: Data is stored in hash-tables (key-value pairs) or dictionaries
  - Example: MangoDB, Redis
 
                   {'RollNumber': [1,2,3,4],
                    'Name': ['AHF', 'FMG', 'BAH', 'EAH'],
                    'Class': [23, 13, 2, 1]}

- **SQL** is used for creating, updating, deleting, inserting, and selecting data stored in relational DB (tables).
  - PC $\rightarrow$ DBMS $\rightarrow$ SQL $\rightarrow$ Relational Database

## SQL CREATE COMMAND
- Used for creating tables
- Syntax:

                  CREATE TABLE "table_name" (
                	"FN"	TEXT NOT NULL,
                	"LN"	TEXT NOT NULL,
                	"EA"	TEXT,
                	"PWD"	TEXT,
                	"ID"	INTEGER NOT NULL UNIQUE,
                	PRIMARY KEY("ID")
                 );
- SQL Keywords are case-insensitive; in MySQL, it is an option you can either turn on or off.

## SQL INSERT COMMAND
- Used to insert data into tables in DB
- Syntax:
  - Single Record:
                     
                  INSERT INTO TABLE "table_name" (col1, col2, col3, ...)
                  VALUES(A, F, A@gmail.com, ...);
  - Multiple records:

                  INSERT INTO TABLE "table_name" (col1, col2, col3, ...)
                  VALUES(A, F, A@gmail.com, ...), (E, H, E@gmail.com, ...), (T, G, T@gmail.com, ...);

- A row of db table is known as a record or a tuple
- A column of db is known as an attribute.

## SQL SELECT COMMAND
- Used to retrieve data from tables in DB
- Syntax:
  - Select Some Arributes:
                     
                  SELECT col1, col2, col3, ... 
                  FROM table_name;
  - Select Complete table using *(asterisk or star):

                  SELECT *
                  FROM table_name;

## <div class="alert alert-success"> SQL WORKING PRINCIPLES

- SQL Query $\rightarrow$ Query Language Processor(Passer + Optimizer) $\rightarrow$ DBMS Engine (File Manager + Transaction Manager) $\rightarrow$ Physical DB

### Passing:
- Query statements are tokenized
### Optimizer:
- Optimizes the best algorithm for the byte code
### FROM:
- It is used to specify the tables from which dta fetched
### WHERE:
- used to filter records based on the given condition
### GROUP BY:
- used to combine  data from tables based on given requirements
### HAVING:
- used to filter groups
### ORDER BY:
- used to sort the data in ascending(ASC) or descending order(DSC).
### SELECT:
- used to retrieve data from the table
### LIMIT:
- used to specify how many rows are selected.

## <div class="alert alert-warning"> SQL Constraints

**Constraints**: rules and restrictions applied on the data in a table. These constraints also known as ***Integrity***.
- NOTNULL: value cannot be null in a column
- UNIQUE: values cannot be the same in a column
- PRIMARY KEY: used to uniquely identify a row.
- FOREIGN KEY: used to reference a row in another table.
- CHECK: satisfies a specific condition.
- DEFAULT: sets default value
- CREATE INDEX: used to speedup the reading process

**SQL QUERY EXECUTION ORDER**:
$FROM \rightarrow JOIN \rightarrow WHERE \rightarrow GROUP BY \rightarrow HAVING \rightarrow SELECT \rightarrow ORDER BY \rightarrow LIMIT$

## <div class="alert alert-info"> Difference Between ALTER and UPDATE

- ALTER:
    - A DDL
    - Used for adding deleting, and modifying attributes of a table
    - Changes are made to the table structure.
    - By default, all the values in the table are initialized as null if the ALTER command is used.
- UPDATE:
    - A DML
    - Used for updating the datain the existing table
    - Changes are made to the data.
    - Sets the specified value to the tuple if update commnd is used

## SQL SELECT DISTINCT COMMAND
- Used to retrieve/return only unique values from a specified column in a a table in a DB
- Syntax:

                  SELECT DISTINCT col1, col2, col3, ... 
                  FROM table_name;

## SQL WHERE CLAUSE
- Used to filter rows in a table based on a specified condition.
- Syntax:

                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE condition;

## SQL AND
- Returns true if both conditions are true, and false otherwise.
- Syntax:

                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE condition1 AND condition2 AND condition3;

## SQL OR
- Returns true if either condition is true, and false both conditions are false.
- Syntax:

                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE condition1 OR condition2 OR condition3;

- AND, OR & NOT operators are used to combine condition in a where-clause to create more complex filtering conditions.

## SQL ORDER BY
- Used to sort the results of a query in ascending or descending order..
- Syntax:

                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  ORDER BY col1 [ASC]/[DESC], col2, col3[ASC]/[DESC], ...;
- ASC: used to sort data in ascending order (default one).
- DESC: used to sort data in descending order.

## SQL INSERT COMMAND
- Used to insert data into tables in DB
- Syntax:
  - Single Record:
                     
                  INSERT INTO "table_name" (col1, col2, col3, ...)
                  VALUES(A, F, A@gmail.com, ...);
  - Multiple records:

                  INSERT INTO "table_name" (col1, col2, col3, ...)
                  VALUES(A, F, A@gmail.com, ...), (E, H, E@gmail.com, ...), (T, G, T@gmail.com, ...);

- NB: There must be the same number of values as the number of columns specified.

## SQL NULL VALUES
- Used to represent missing values or Unknown data
- Syntax:
     
                  INSERT INTO "table_name" (col1, col2, col3, ...)
                  VALUES(A, F, NULL, ...);

- To Check for NULL values:
    - IS NULL
 
                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE col1 IS NULL;
    - IS NOT NULL

                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE col1 IS NOT NULL;

## SQL UPDATE COMMAND
- Used to modify existing data in a tables in DB
- Syntax:
                     
                  UPDATE "table_name"
                  SET col1=val1, co2=val2, ...
                  WHERE some_col=some_val;
- ***SET***: used to specify the column to be updated and values to be set.

## SQL DELETE COMMAND
- Used to remove existing record from a tables in an SQL DB
- Syntax:
                 
              DELETE FROM "table_name" WHERE condition;
  
- ***Note***: This operation is not reversible; so, be careful when using DELETE statement.

## <div class="alert alert-warning"> SQL WILDCARDS

- Wildcards are special chracters used in SQL
    - 'LIKE' operator to search for specific pattern in a column of  a table.
    - The percent (%) represents zero, one, or multiple characters.
    - The underscore(_) represents one, single chracter.
- **SQ LIKE**: used to search for a specific pttern in a column of a table.
    - Syntax:

                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE col1 LIKE pattern;
- **SQL IN**: used to specify multiple values in a WHERE caluse filtering data.
    - Syntax:

                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE col1 IN(val1, val2, val3, ...);
      
- **SQL BETWEEN**: used to filter data based on a range of values in a WHERE clause.
    - Syntax:
 
                  SELECT col1, col2, col3, ... 
                  FROM table_name
                  WHERE col1 BETWEEN val1 AND val2;
- **SQL ALIAS**: used to give temporary name to a table or a column in a query.
  - Syntax:
 
                  SELECT col1 as alias_name
                  FROM table_name;

## <div class="alert alert-success"> SQL Common Table Expressions (CTE)

***Subqueries***

- A Subquery or Inner query or Nested query is a query within another SQLite query and embedded within the WHERE clause.
- Subqueries can be used with the SELECT, INSERT, UPDATE, and DELETE statements along with the operators such as =, <, >, >=, <=, IN, BETWEEN, etc.
- Rules:
   - Subqueries must be enclosed within parentheses.
   - A subquery can have only one column in the SELECT clause, unless multiple columns are in the main query for the subquery to compare its selected columns.
   - An ORDER BY cannot be used in a subquery, although the main query can use an ORDER BY. The GROUP BY can be used to perform the same function as the ORDER BY in a subquery.
   - Subqueries that return more than one row can only be used with multiple value operators, such as the IN operator.
   - BETWEEN operator cannot be used with a subquery; however, BETWEEN can be used within the subquery.

- Subqueries with SELECT Statement
  - Subqueries are most frequently used with the SELECT statement. The basic syntax is as follows −
 
            SELECT column_name [, column_name ]
            FROM table1 [, table2 ]
            WHERE column_name OPERATOR
               (SELECT column_name [, column_name ]
                  FROM table1 [, table2 ]
                  [WHERE])

In [147]:
import sqlite3

# Connect to an SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('EDB.db')

# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS ETBL1
             (ID int, NAME text, AGE text, ADDRESS text, SALARY real)''')

# Insert a row of data
cursor.execute("INSERT INTO ETBL1 VALUES ('1', 'A','30','CA',50000)")
cursor.execute("INSERT INTO ETBL1 VALUES ('2', 'S','22','TX',100000)")
cursor.execute("INSERT INTO ETBL1 VALUES ('3', 'E','28','NWY',60000)")
cursor.execute("INSERT INTO ETBL1 VALUES ('4', 'D','25','RM',105000)")
cursor.execute("INSERT INTO ETBL1 VALUES ('5', 'P','22','TX',60000)")
cursor.execute("INSERT INTO ETBL1 VALUES ('6', 'B','42','SH',40000)")
cursor.execute("INSERT INTO ETBL1 VALUES ('7', 'M','42','HTN',70000)")

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

In [155]:
conn = sqlite3.connect('EDB.db')
cursor = conn.cursor()

sql_query = """SELECT * 
               FROM ETBL1
               WHERE NAME IN (SELECT NAME
                  FROM ETBL1
                  WHERE SALARY > 60000) ;"""
cursor.execute(sql_query)
rows = cursor.fetchall()
print(rows)

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

[(2, 'S', '22', 'TX', 100000.0), (4, 'D', '25', 'RM', 105000.0), (7, 'M', '42', 'HTN', 70000.0)]

In [157]:
conn = sqlite3.connect('EDB.db')
cursor = conn.cursor()

# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS ETBL1_BKP
             (ID int, NAME text, AGE text, ADDRESS text, SALARY real)''')

sql_query = """INSERT INTO ETBL1_BKP
               SELECT * FROM ETBL1 
               WHERE ID IN (SELECT ID 
                  FROM ETBL1) ;"""
cursor.execute(sql_query)

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

- https://www.geeksforgeeks.org/cte-in-sql/

***CTE***:

- Common Table Expression (CTE) is an essential tool for simplifying complex queries and making them more readable.
- By defining temporary result sets that can be referenced multiple times.
-  CTE in SQL allows developers to break down complicated logic into manageable parts.
-  CTEs help with hierarchical data representation, improve code reusability, and simplify maintenance.

***Why do We Need CTE in the SQL?***:

- A Common Table Expression (CTE) in SQL is a temporary result set that is defined and used within the execution scope of a SELECT, INSERT, UPDATE, or DELETE statement.
- CTEs are defined using the ***WITH clause*** and can be referenced multiple times within the main SQL query. This makes CTEs a great alternative to subqueries, especially in cases where we need to perform the ***same operation multiple times*** or create recursive queries.


***Why Use CTEs in SQL?***
- CTEs simplify query writing and maintenance by:
  - Breaking down complex queries into smaller, reusable components.
  - Improving code readability and modularity.
  - Enabling recursive operations for hierarchical data

***Syntax***:

        WITH cte_name AS (
            SELECT query
        )
        SELECT *
        FROM cte_name;
- Key Terms
  - cte_name: A unique name for the CTE expression.
  - query: A valid SQL query that returns a result set, which will be treated as a ***virtual table*** within the main query.
  - SELECT: The main query that can reference the CTE by its name.

In [112]:
import sqlite3

# Connect to an SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('EDB.db')

# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS ETBL
             (Name text, Age text, Dept text, Salary real)''')

# Insert a row of data
cursor.execute("INSERT INTO ETBL VALUES ('A','30','Finance',50000)")
cursor.execute("INSERT INTO ETBL VALUES ('S','22','ENG',100000)")
cursor.execute("INSERT INTO ETBL VALUES ('E','28','Finance',60000)")
cursor.execute("INSERT INTO ETBL VALUES ('D','25','ENG',105000)")
cursor.execute("INSERT INTO ETBL VALUES ('P','22','Sales',60000)")
cursor.execute("INSERT INTO ETBL VALUES ('B','42','Sales',40000)")

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

In [126]:
conn = sqlite3.connect('EDB.db')
cursor = conn.cursor()

sql_query = """WITH AvgSalaryByDept AS (
                    SELECT Dept, AVG(Salary) AS AvgSalary
                    FROM ETBL
                    GROUP BY Dept
                )
                SELECT *
                FROM AvgSalaryByDept;"""
cursor.execute(sql_query)
rows = cursor.fetchall()
print(rows)

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

[('ENG', 102500.0), ('Finance', 55000.0), ('Sales', 50000.0)]

- Explanation:
    - The WITH clause defines a CTE named AvgSalaryByDept.
    - The main query references this CTE to retrieve the average salary for each department.

- ***Recursive Common Table Expression***: 
    - A recursive CTE is one that references itself within that CTE. The recursive CTE is useful when working with hierarchical data as the CTE continues to execute until the query returns the entire hierarchy. 
    - A typical example of hierarchical data is a table that includes a list of employees. For every employee, the table provides a reference to that person’s manager. That reference is itself an employee ID within the same table. We can use a recursive CTE to display the hierarchy of employee data. 
    - If a CTE is created incorrectly it can enter an infinite loop. To prevent this, the MAXRECURSION hint can be added in the OPTION clause of the primary SELECT, INSERT, UPDATE, DELETE, or MERGE statement.

In [ ]:
WITH
  cteReports (EmpID, FirstName, LastName, MgrID, EmpLevel)
  AS
  (
    SELECT EmployeeID, FirstName, LastName, ManagerID, 1
    FROM Employees
    WHERE ManagerID IS NULL
    UNION ALL
    SELECT e.EmployeeID, e.FirstName, e.LastName, e.ManagerID, 
      r.EmpLevel + 1
    FROM Employees e
      INNER JOIN cteReports r
        ON e.ManagerID = r.EmpID
  )

SELECT
  FirstName + ' ' + LastName AS FullName, 
  EmpLevel,
  (SELECT FirstName + ' ' + LastName FROM Employees 
    WHERE EmployeeID = cteReports.MgrID) AS Manager
FROM cteReports 
ORDER BY EmpLevel, MgrID

- Explanation:
    - The anchor member selects employees with no manager (ManagerID IS NULL), establishing the base level.
    - The recursive member joins the CTE to the table, incrementing the level for each subordinate employee.

- Benefits of Using CTEs in SQL
  - Improved Readability: CTEs help break down complex queries into modular, reusable components, improving code readability and maintainability.
  - Reusability: Once defined, a CTE can be referenced multiple times within the same query, reducing the need for repetitive code.
  - Simplifies Complex Queries: By using CTEs, especially recursive CTEs, complex operations like hierarchical data queries become much easier to manage.
  - Query Optimization: SQL engines can optimize queries that use CTEs more efficiently, improving performance, especially when the same result set needs to be accessed multiple times.
- Limitations of CTEs in SQL
  - Temporary Scope: A CTE exists only during the execution of the query. Once the query completes, the CTE is discarded.
  - Performance Issues: For very large datasets, CTEs can sometimes lead to performance degradation due to multiple references to the same CTE.
  - Not Allowed in All Database Operations: Some operations, such as INSERT and UPDATE, may have restrictions when using CTEs in certain databases.
- CTE vs Subqueries:
  - Reuasbaility: CTE can be refrenced multiple times; Subquery typically used once.
  - Readbaility: CTE improves readibility for complex queries; subquery can beome difficult to read when nested
  - Performance: CTE is optimized for multiple references; subquery may be less efficient for repeated operations.

***Conclusion***

- In summary, Common Table Expressions (CTEs) are a valuable feature in SQL, enhancing query readability, modularity, and performance. By using CTEs, developers can simplify complex queries, especially those involving hierarchical data or repeated subqueries. Whether we’re using CTEs in SQL Server, PostgreSQL, or Azure, understanding how to define and use them effectively will empower us to write cleaner, more efficient SQL queries.

## <div class="alert alert-danger"> Example

In [166]:
#******************************************************************************
#******************************************************************************
# 4. Adding Current files to the Database
#******************************************************************************
#******************************************************************************
### 4.1 Create or update tables in DB
#******************************************************************************
#DB Name:DashprojDB.db
     #Navigate to folder of interest on CLI
     #$ sqlite3 DashprojDB.db
     #sqlite> .databases
     #sqlite> .quit, or
     #create it once using import sqlite3 & con=sqlite3.connect('DashprojDB.db')
# Tables: ['course_list', 'registrants', 'demography', 'cost_model',
#               'grade_report', 'profit', 'surveys']
#------------------------------------------------------------------------------
def check_tables(dbpath):
    table_list, msg = [], ''
    try:
        con = sqlite3.connect(dbpath)
        cursor = con.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tab = cursor.fetchall()
        for t in list(tab):
            table_list.append(t[0])
        msg = "DB Tables were grabbed successfully!"
    except sqlite3.Error as error:
        msg = f"Tables fetching failed due to {error}."
    finally:
        if con:
            con.close()
    return table_list, msg
# table_list, ctmsg = check_tables(dpath)
#------------------------------------------------------------------------------
def querydb(dbpath, coldb, colnorm, tblname):
    try:
        tmpcol = [c for c in coldb]
        tmpcol.extend(['modifiedBy', 'MAC', 'hostname', 'Timestamp'])
        engine = create_engine('sqlite:///'+dbpath, echo=False)
        df = pd.DataFrame(engine.execute(f"Select DISTINCT * from {tblname}"),
                     columns=tmpcol)
        df = df[coldb]
        df.columns = colnorm
    except:
        msg = f"{tblname} doesn't exist or columns don't match!"
        return msg
    else:
        return df
#------------------------------------------------------------------------------
def getThoseNotInDB(df, dbtbl, cid):    
    if (isinstance(df, bool)==False)\
        and (isinstance(dbtbl, str)==False):
        try:
            dblst = dbtbl[cid].tolist()            
            inner = df[~df[cid].isin(dblst)]           
        except:
            return False
        else:
            return inner       
    else:
        return False
#------------------------------------------------------------------------------
def getstamps():
    un = getpass.getuser()
    now = dtt.now()
    dt = now.strftime("%m/%d/%Y %H:%M:%S")
    mac = ':'.join(re.findall('..', '%012x' % uuid.getnode()))
    hn = socket.gethostname()
    return un, mac, hn, dt
#------------------------------------------------------------------------------
def tosqlite(dbpath, df, dbtab, flag, tab_name, tabmsg1,label, mode, cid, coldb):
    error, replaces= [], []
    if mode == 'append':
        df = getThoseNotInDB(df, dbtab, cid)
    if isinstance(df, bool)== False and flag == None:
        try:
            con = sqlite3.connect(dbpath)
            cursor = con.cursor()
            engine = create_engine('sqlite:///'+dbpath, echo=False)
            df.columns = coldb
            un, mac, hn, dt = getstamps()    
            df['modifiedBy'],df['MAC'],df['hostname'],df['Timestamp']=un,mac,hn,dt             
            df.to_sql(tab_name, engine, if_exists=mode, index=False)
            if mode == 'append':
                error.append(f"Section-4: {tabmsg1} was successfully appended to db!")
            if mode == 'replace' and tab_name != 'frac_setting':
                error.append(f"Section-4: {tabmsg1} was successfully replaced in db!")
                replaces.append(tab_name)
            con.commit()
            cursor.close()
        except sqlite3.Error as er:
            error.append(f"{tab_name} wasn't added to DB due to {er}.")
        else:
            error.append(f"{tab_name} was added to DB!")
        finally:
            if con:
                con.close()
    elif flag == False:
        error.append(f"Section-4: Check columns mismatch in {tabmsg1} file!")
    else:
        error.append(f"Section-4: No {tabmsg1} input and nothing was iserted"
               +" to DB or table might be already in DB!")
    return error, replaces
# error, replaces = tosqlite(dbpath, df, dbtab, flag, tab_name, 
#                       tabmsg1, label, mode, cid)
#******************************************************************************
#******************************************************************************
# 5. Backup the Database in the Backup folder
#******************************************************************************
#******************************************************************************
# New Name is given to every backedup DB
# DB_name = DashProjDB_yyyy_month_dd.db
def backupDb(path_4, dbpath):
    try:
        tdy = date.today()
        y = tdy.strftime("%Y")
        m = tdy.strftime("%B")
        d = tdy.strftime("%d")
        db_name = 'DashProjDB_'+y+'_'+m+'_'+d+'.db'        
        shutil.copy(dbpath, path_4)
        path_old = path_4+'DashProjDB.db'
        path_new = path_4 + db_name
        os.rename(r''+path_old,r''+path_new)
        errors.append('Section-5: DB was successfully backed up!')
    except:
        errors.append('Section-5: DB is not backed up because the path'
                     +' is wrong!')

#backupDb(path_4)
#******************************************************************************
#******************************************************************************
# 6. Generate Reports from the db
#******************************************************************************
#******************************************************************************
# Reports: All Courses List, Demography, Grades, Profit Analysis, & Survey
# Convert DB tables to pandas tables
# acl, reg, dem, cml, gra, prof, profsmry, and  svy
#******************************************************************************
### 6.1 Read Relevant Tables from DB
#******************************************************************************
def remove_duplicate(df, col):
    try:
        df.sort_values(col, inplace = True)
        df.drop_duplicates(subset =col, keep = 'first', inplace = True)
    except:
        df = False
    return df

def sqliteTopd(dbpath1, querycol, tabname, dupcol, coldb):    
    df = querydb(dbpath1, coldb, querycol, tabname)  
    if isinstance(df, str)== False:
        df = remove_duplicate(df, dupcol)
        if isinstance(df, bool)== False:
            return df
        else:
            return False
    else:
        return False

In [168]:
check_tables(r'/home/alem/Documents/AlemNotes/AlgorithmsReview/DBMS/Relational/RDBE.db')

([], 'DB Tables were grabbed successfully!')

## <div class="alert alert-success">                            ~End~